<!doctype html>
<html>
    <head>
        <title>Hello from Flask</title>
    </head>
    <body>
        {% if name %}
            <h1>Hello {{ name }}!</h1>
            <a href="{{ url_for('hello') }}">Go back home</a>
        {% else %}
            <h1>Hello, World!</h1>
            <table>
                <colgroup>
                    <col style="background-color:aquamarine" />
                    <col spna="2" />
                </colgroup>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>2</th> 
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th> 
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>1</th>
                        <th>2</th> 
                        <th>3</th>
                    </tr>
                </tbody>
              </table>
        {% endif %}
    </body>
</html>